body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 75px;}
h2{
    font-size: 55px;
    font-weight: bolder;
}
h3{
    font-size: x-large;
}
p{
    font-size: 20px;
    color: #707070;
}

.first{
    background-image: url(images/eid.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    width: 50%;
    padding-top: 250px;
    padding-left: 250px;
    padding-bottom: 250px;
    padding-right: 695px;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),transparent);
}
.container h1{
    margin-bottom: 20px;
}
.container p{
    font-size: 25px;
    color: white;
}
.button1{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color: #EF233C;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}
.second{
display: flex;
padding-top: 200px;
    padding-left: 250px;
    padding-right: 250px;
}
.second-writing{
    margin-right: 100px;
}

.second img{
    border-radius: 15px;
    width: 760px;
}
.second p{
    margin-right: 50px;
}

.half-width{
    width: 50%;
}

.third{
    display: flex;
    padding-top: 150px;
        padding-left: 200px;
        padding-right: 25px;
    }
 
    .third img{
        border-radius: 15px;
        width: 760px;
        height: 550px;
        margin-right: 100px;
    }
    .third p{
        margin-bottom: 20px;
        margin-right: 150px;
    }
    .small{
        text-align: center;
        margin: 150px 400px 0px 400px;
    }
    .small h2{
        margin: 0px 200px 40px 200px;
    }
    .fourth1, .fourth2{
        display: flex;
        margin: 0px 400px;
    }
    .f-one-one, .f-one-two, .f-two-one, .f-two-two{
            background-color: rgb(226, 198, 198);
            display: flex;
            padding: 30px;
            margin: 20px 20px;
    }
    .f12-1,.f12-2,.f21-1,.f21-2{
        padding-right: 20px;
        padding-top: 15px;
    }
    .three-images{
        display: flex;
        margin: 100px 150px;

    }
    .three-images div img{
        width: 506.66px;
        margin-left: 20px;
        border-radius: 15px;
    }
    .small2{
        text-align: center;
        margin: 150px 400px 0px 400px;
    }
    .small2 h2{
        margin: 0px 100px 40px 100px;
    }
    .final{
        display: flex;
        margin: 100px 150px;
    }
   
    .final div img{
        margin-bottom: -15px;
        width: 506.66px;
        margin-left: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 95%;
    }
    .writing-part1, .writing-part2, .writing-part3{
        border: 1px solid gray;
        margin-left: 21px;
        margin-top: -5px;
        margin-right: 6px;
        padding: 30px;
    }
    .final div a{
        font-size: x-large;
        color: #EF233C;
        font-weight: bold;
    }
    footer{
        background-color: black;
        text-align: center;
        padding: 10px 0px;
    }
    footer h2{
        font-family: 'Inter', sans-serif;
        font-family: 'Lobster', cursive;
        color:#EF233C;
    }
    footer p{
        color: white;
        font-size: 15px;
        margin-top: -20px;
        padding-bottom: 20px;
    }